{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="container">
        {% if name == "Kashyap Bath" %}
            <h2 class="center lgreen">Hello, {{name}}</h2>
        {% else %}
            <h2 class="center lgreen">Hello, {{name}}. You have no assignments</h2>
            <main>
                <ol class="gradient-list">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Aenean tincidunt elit at ipsum cursus, vitae interdum nulla suscipit.</li>
                  <li>Curabitur in orci vel risus facilisis accumsan.</li>
                  <li>Morbi eleifend tortor lacinia sapien sagittis, quis pellentesque felis egestas.</li>
                  <li>Aenean viverra dui quis leo lacinia fringilla.</li>
                  <li>Sed varius lectus ac condimentum egestas.</li>
                  <li>Maecenas faucibus lorem nec lorem posuere, a rhoncus velit porttitor.</li>
                </ol>
              </main>
        {% endif %}
    </div>
{% endblock %}

