{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <select name="type" class="form-select form-control" aria-label="Default select">
              <option value="teacher"> Student </option>
              <option value="student"> Student </option>
        </div>
        <div>Make sure you use your school account</div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="first" name="first" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="last" name="last" placeholder="Last Name" type="text">
        </div>
        <div>Please select the school you currently teach</div>
        <div class="mb-3">
            <select name="school" class="form-select form-control" aria-label="Default select">
              <option value=""> Horizon </option>
              <option value=""> Lorem </option>
        </div>
        <div>Input your teacher licesence number</div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="code" name="code" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
