{% extends "layout.html" %}

{% block title %}
    Verification
{% endblock %}

{% block main %}
    <div id="container">
        <h1 class="center">Hello, {{first}}</h1>

        <h2 class="center lgreen">A Verification Code Has Been Sent To Your Email To Verify Your Identity</h2>

        <div style="padding: 20px 20px">
            <div class="center" style="padding: 20px 20px">
                Please paste your code below
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="code" name="code" placeholder="Code" type="text">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>
        </div>

        <div id="submission">
            <div class="medium" style="padding: 20px 20px">Below is your {{variety}} submission</div>
            {% if variety=="teacher" %}
                <div>Name: {{ first }} {{ last }}</div>
                <div>email: {{ email }}</div>
                <div id="security">password: ****** </div>
                <input type="checkbox" onclick="myFunction()">Show Password
                <div>organization: {{ organization }}</div>
                <div>role: {{ role }}</div>
                <div>school: {{ school }}</div>
                <div>organization: {{ organization }}</div>
                <div>number: {{ number }}</div>

            {% else %}
                <div>Name: {{ first }} {{ last }}</div>
                <div>email: {{ email }}</div>
                <div id="security">password: ****** </div>
                <input type="checkbox" onclick="myFunction()">Show Password
                <div>organization: {{ organization }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script>
    function myFunction() {
        var x = document.getElementById("security");
        if (x.innerHTML === "******") {
            x.innerHTML = "password: {{password}}";
        }
        else {
        x.type = "password";
        }
    }
</script>
{% endblock %}

