{% extends "layout.html" %}

{% block title %}
    Verification
{% endblock %}

{% block main %}
    <div id="container">
        <h1 class="center">Hello, {{first}}</h1>

        <h2 class="center">A Verification Code Has Been Sent To Your Email To Verify Your Identity</h2>

        <div class="center">
            Please paste your code below
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="code" name="code" placeholder="Code" type="text">
        </div>

        <button class="btn btn-primary" type="submit" >Submit</button>

        <div id="submission" style="background-color:#f7f3eb;">
            <div class="medium">Below is your {{variety}} submission</div>
            {% if variety="teacher" %}
                <div>Name: {{ first }} {{ last }}</div>
                <div>email: {{ email }}</div>
                <div value="FakePSW" id="myInput">password: {{ password }}</div>
                <input type="checkbox" onclick="myFunction()">Show Password
                <div>organization: {{ organization }}</div>
                <div>role: {{ role }}</div>
                <div>school: {{ school }}</div>
                <div>organization: {{ organization }}</div>
                <div>number: {{ number }}</div>

            {% else %}
                <div>Name: {{ first }} {{ last }}</div>
                <div>email: {{ email }}</div>
                <div>password: {{ password }}</div>
                <input type="password" value="FakePSW" id="myInput">
                <input type="checkbox" onclick="myFunction()">Show Password
                <div>organization: {{ organization }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
    }
</script>
{% endblock %}

