<!--
                  {% for a in assignments %}
                    {% if class.classid == a.classid %}
                      {% if a.studentemail == session["email] %}
                          <tr>
                            <td>{{a["assignmentname"]}}</td>
                            <td>{{a["weight"]}}</td>
                            <th><i>{{a["grade"]}}</i></th>
                          </tr>
                      {% endif %}
                    {% endif %}
                {% endfor %}
-->