{% extends "layout.html" %}

{% block body %}
    <h1>Registrants</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Player</th>
                <th>Fans</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ registrant["name"] }}</td>
                    <td>{{ registrant["player"] }}</td>
                    <td>{{ registrant["fans"] }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ registrant.id }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <body>
        <a href="https://kashyapbathina-code50-100645835-x546w64xvh6vvv-5000.githubpreview.dev/">Click here to add more people</a>
    </body>
{% endblock %}



CREATE TABLE registrants (id INTEGER, name TEXT NOT NULL, player TEXT NOT NULL, PRIMARY KEY(id));


ALTER TABLE registrants
ADD fans int;


UPDATE registrants
SET fans =
(
SELECT COUNT(*)
FROM registrants b
WHERE registrants.player = b.player
GROUP BY player
);