{% extends "layout.html" %}

{% block body %}
    <h1>Registrants</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Player</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td>{{ registrant["name"] }}</td>
                    <td>{{ registrant["player"] }}</td>
                    <td>{{ registrant["Fans"] }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ registrant.id }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <body>
        <a href="https://kashyapbathina-code50-100645835-x546w64xvh6vvv-5000.githubpreview.dev/">Click here to add more people</a>
    </body>
{% endblock %}

