img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;
}
video{
    height="50"
    width="50"
}
.center{
    text-align: center;
}
.large{
    font-size: large;
}
.medium{
    font-size: medium;
}
.small{
    font-size: small;
}
