img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 150px 0px;
}
p{
    text-align: center;
    padding: 2px;
    display: inline-block;
    margin-bottom: 1px;
}
.center{
    text-align: center;
}
.large{
    font-size: large;
}
.medium{
    font-size: medium;
}
.small{
    font-size: small;
}
.title{
    color: green;
    margin-top: 30px;
}

